<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Angular e Typescript: Dicas e Boas Práticas</title>

		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/blood.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="lib/css/monokai.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section>
					<h1>Angular e Typescript:</h1>
					<h3>Dicas e Boas Práticas</h3>
					<p>
						<small>Por: <a href="https://github.com/rickwalking" target="_blank">Pedro Marins</a></small>
					</p>
				</section>
				<section>
					<h2>Palestrante:</h2>
					<div class="d-flex" style="justify-content: space-between">
						<img data-src="https://avatars2.githubusercontent.com/u/25574889?s=460&v=4" />
						<ul>
							<li><b>Nome:</b> Pedro Marins</li>
							<li><b>Idade:</b> 26 anos</li>
							<li><b>Desenvolvedor Front-End na empresa <a href="https://beta.meupatrocinio.com" target="_blank">MeuPatrocinio.</a></b></li>
						</ul>
                    </div>
				</section>
				<section>
					<h2>Assuntos de hoje:</h2>
					<ul>
						<li><b>Typescript:</b>
							<ul>
								<li>Variáveis</li>
								<li>Funções</li>
								<li>Interfaces</li>
							</ul>
						</li>
					</ul>
				</section>
				<section>
					<section>
						<h2>Variáveis</h2>
						<p>Nome de variáveis devem ser claras, evitando que seja necessário adivinhar o que siginificam:</p>
					</section>
					<section>
						<pre><code class="hljs" data-trim>
							//bad
	
							const ac = 10;
	
							dateEnd = 1563843263000;
	
							let open = true;
	
							let valueRemovedFromMainLoopWhereIsHighterThanTen = this.getHighterNumber();
	
							//good 
	
							const accountNumber = 10;
	
							couponEndDateTimestamp = 1563843263000;
	
							let isOpen = true;
							const hasAcess = false;
							const canActivateCard = true;
	
							const highestNumber = this.getHighterNumber();
						</code></pre>
					</section>
				</section>
				<section>
					<section>
						<h2>Funções</h2>
						<p>Nome de funções usam verbos. Quando significam alguma ação, devem dizer claramente a ação.</p>
					</section>
					<section>
						<pre><code class="hljs" data-trim>
							//bad
	
							userData();
	
							//this function get the total Items
							totalItems();
	
	
							//good
	
							getUserData();
	
							calculateTotal();
	
							//TODO: create carService
							purchaseCar();
						</code></pre>
					</section>
				</section>
				<section>
					<section>
						<h2>Funções...parte 2</h2>
						<p>Funções devem ter no máximo 3 argumentos, prefira passar um objeto ou rest parameters</p>
					</section>
					<section>
						<pre><code class="hljs" data-trim>
							//bad
	
							updateHeroProfile(firstName: string, lastName: string, dateOfBirth: number, city: string, power: number) {
								this.heroesService.updateHeroProfile(firstName, lastName, dateOfBirth, city, power).subscribe((hero: any) => {
									this.updateHeroes();
								});
							}
	
							//good
	
							updateHeroProfile(hero: IHero) {
								this.heroesService.updateHeroProfile(hero.firstName, hero.lastName, hero.dateOfBirth, hero.city, hero.power).subscribe((response: IHero) => {
									this.updateHeroes();
								});
							}
		
						</code></pre>
					</section>
					<section>
						<pre><code class="hljs" data-trim>
							function iTakeItAllArguments(firstArgument, secondArgument, ...allOthers) {
								console.log(allOthers);
							}
							iTakeItAllArguments('teste1', 'teste2', 'teste3', 'teste4'); // ['teste3','teste4']
						</code></pre>
					</section>
				</section>
				<section>
					<section>
						<h2>Funções...parte 3</h2>
						<p>Funções devem fazer somente uma coisa</p>
					</section>
					<section>
						<pre><code class="hljs" data-trim>
							//bad
							renameHero(name: string, power: number): void {
								this.hero.name = name;

								if (this.hero.power > 5) {
									this.hero.power +=10;
								}
							}
	
							//good
							renameHero(name: string): void {
								this.hero.name = name;
							}
	
							changeHeroPower(power: number): void {
								this.hero.power += power;
							}
						</code></pre>
					</section>
				</section>
				<section>
					<section>
						<h2>Funções...parte 4</h2>
						<p>Quebrar condicionais</p>
					</section>
					<section>
						<pre><code class="hljs" data-trim>
							//bad
	
							if (hero.isNew && hero.premium && hero.sex === 0) {
								//
							}
	
							//good
	
							if (canUpdateHero()) {
	
							}
								
						</code></pre>
					</section>
				</section>
				<section>
					<section>
						<h2>Funções...parte 5</h2>
						<p>Evite usar else</p>
					</section>
					<section>
						<pre><code class="hljs" data-trim>
							//bad

							if (statusActive == true && heroValue > 10) {
								return true;
							} else {
								return flase;
							}

							//good

							return statusActive && heroValue > 10;
						</code></pre>
					</section>
				</section>
				<section>
					<section>
						<h2>Funções...parte 6</h2>
						<p>Return type de acordo com a função, usar void se não houver retorno</p>
					</section>
					<section>
						<pre><code class="hljs" data-trim>
							//bad
							getUserFullName() {
								return user.fullName;
							}
	
							getUserAccountNumber() {
								return user.age;
							}
	
							//good
							getUserFullName(): string {
								return user.fullName;
							}
	
							getUserAccountNumber(): number {
								return user.age;
							}
	
							setHeroName(name: string): void {
								this.hero.name = name;
							}
							
						</code></pre>
					</section>
				</section>
				<section>
					<section>
						<h2>Funções...parte 7</h2>
						<p>Return type de acordo com a função, usar void se não houver retorno</p>
					</section>
					<section>
						<pre><code class="hljs" data-trim>
							//bad
							getUserFullName() {
								return user.fullName;
							}
	
							getUserAccountNumber() {
								return user.age;
							}
	
							//good
							getUserFullName(): string {
								return user.fullName;
							}
	
							getUserAccountNumber(): number {
								return user.age;
							}	
						</code></pre>
					</section>
				</section>
				<section>
					<section>
						<h2>Interfaces</h2>
						<p>Use para que o type checking seja focado no shape do valor</p>
					</section>
					<section>
						<pre><code  class="hljs" data-trim>
							export interface IHero {
								id: number;
								name: string;
							}

							public hero: Hero;
						</code></pre>
					</section>
				</section>
				<section>
					<section>
						<h2>Evite usar any!</h2>
					</section>
				</section>
				<section>
					<section>
						<h2>Tslint...</h2>
						<p><a href="https://palantir.github.io/tslint/" target="_blank">https://palantir.github.io/tslint/</a></p>
					</section>
					<section>
						<h2>Algumas boas regras:</h2>
						<ul>
							<li><a href="https://palantir.github.io/tslint/rules/no-magic-numbers/">no-magic-numbers</a></li>
							<li><a href="https://palantir.github.io/tslint/rules/no-any/">no-any</a></li>
							<li><a href="https://palantir.github.io/tslint/rules/no-console/">no-console</a></li>
							<li><a href="https://palantir.github.io/tslint/rules/no-console/">typedef</a></li>
							<li><a href="https://github.com/Glavin001/tslint-clean-code">Clean Code</a></li>
							<li><a href="https://www.npmjs.com/package/codelyzer">Codelyzer for Angular and Typescript</a></li>
						</ul>
					</section>
				</section>
				<section>
					<h2>Angular</h2>
				</section>
				<section>
					<section>
						<h2>Reutilizar componentes</h2>
					</section>
					<section data-markdown>
						<script type="text/template">
							```
							<nav class="navbar navbar-expand-lg navbar-primary bg-primary mh-100 mw-100 shadow-sm sticky-top">
								<a class="navbar-brand" href="#">Fitness Tracker</a>
								<button class="navbar-toggler" type="button" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
									<span class="navbar-toggler-icon"></span>
								</button>
								<div class="collapse navbar-collapse" [ngbCollapse]="isCollapse">
									<ul class="navbar-nav mr-auto">
										<li class="nav-item active">
											<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#">Features</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#">Pricing</a>
										</li>
									</ul>
									<form class="form-inline">
										<input class="form-control mr-sm-2 shadow" type="search" placeholder="Search Trainings" aria-label="Search">
										<button class="btn btn-success my-2 my-sm-0">Search</button>
									</form>
								</div>
							</nav>
							<router-outlet></router-outlet>
							<app-footer></app-footer>
							```
						</script>
					</section>
					<section data-markdown>
						<script type="text/template">
							```
							<app-header></app-header>
							<router-outlet></router-outlet>
							<app-footer></app-footer>
							```
						</script>
					</section>
				</section>
				<section>
					<section>
						<h2>Evitar usar diretivas com lógica confusa no template</h2>
					</section>
					<section>
						<section data-markdown>
							<script type="text/template">
								```
								//bad
								<div *ngIf="user !== undefined && isHeroActive() && hasPaymentsMade()"></div>

								<section [ngClass]="{ 'class1': isAvailable, 'class2': hasPremiumAccount, 'class3': isDeleted }" >

								//good
								<div *ngIf="isPermittedHero()"></div>

								<section [ngClass]="getConditionalClass()"></section>
								```
							</script>
						</section>
					</section>
				</section>
				<section>
					<section>
						<h2>Usar trackBy quando for utilizar um ngFor</h2>
					</section>
					<section>
						<pre><code class="hljs" data-trim>
							//template
							<li *ngFor="let item of getItems(); trackBy: trackByFn">{{ item }}</li>

							//componente
							trackByFn(index, item) {    
								return item.id;
							}
						</code></pre>
					</section>
				</section>
				<section>
					<section>
						<h2>Não esquecer de dar unsubscribe das subscriptions do componente</h2>
					</section>
					<section>
						<pre><code  class="hljs" data-trim>
							ngOnDestroy(): void {
								//one subscription
								$heroSubscription.unsubscribe();

								this.subscriptions.map((subscription) => subscription.unsubscribe());
							}
						</code></pre>
					</section>
				</section>
				<section>
					<section>
						<h2>Utilizar Async Pipes</h2>
					</section>
					<section>
						<pre><code class="hljs" data-trim>
							this.textHeader$ = textObservable
							.pipe(
								map(value => value.item)
							);
						</code></pre>
					</section>
					<section data-markdown>
						<script type="text/template">
							```
							<div {{ textHeader$ | async }}></div>
							```
						</script>
					</section>
				</section>
				<section>
					<section>
						<h2>Obrigado</h2>
					</section>
				</section>
			</div>
		</div>

		<script src="js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				dependencies: [
					{ src: 'plugin/markdown/marked.js' },
					{ src: 'plugin/markdown/markdown.js' },
					{ src: 'plugin/notes/notes.js', async: true },
					{ src: 'plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>
